.post
  width: 100%;
  overflow-x: hidden;
  background: #d4e4ec;
  height 100%;

.header
  text-align center
  display flex
  align-items top
  .btn
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: 40px;
    border-radius: 10px;
    background: #d4e4ec;
    box-shadow:  20px 20px 60px #b4c2c9,
             -20px -20px 60px #f4ffff;
    &.on
      background: linear-gradient(145deg, #bfcdd4, #e3f4fd);
      box-shadow:  30px 30px 60px #b4c2c9,
             -30px -30px 60px #f4ffff;

.title
  width: 92%;
  margin: 20px auto 0;
  padding 0 20px;
  box-sizing: border-box;
  border-radius: 20px;
  background: #d4e4ec;
  box-shadow:  20px 20px 60px #b4c2c9,
             -20px -20px 60px #f4ffff;
  .text
    margin-top: 10px;
    color: rgb(0, 31, 63);

.content
  padding 0 20px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 92%;
  margin: 0 auto;
  background: #d4e4ec;
  box-shadow:  20px 20px 60px #b4c2c9,
             -20px -20px 60px #f4ffff;
