theme-color = #e6e7ee
// theme-color = #252728

box-color1 = #b8b9be
box-color2 = #fff
// box-color1 = #1f2122
// box-color2 = #2b2d2e

font-color = rgb(0, 31, 63)
// font-color = #fff

.post
  width: 100%;
  overflow-x: hidden;
  background: theme-color;
  height 100%;

.header
  text-align center
  display flex
  align-items top
  .btn
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: 40px;
    border-radius: 10px;
    background: theme-color;
    box-shadow:  6px 6px 12px box-color1,-6px -6px 12px box-color2;
    &.on
      box-shadow: inset 2px 2px 5px box-color1,inset -3px -3px 7px box-color2;

.title
  width: 92%;
  margin: 20px auto;
  padding 0 20px;
  box-sizing: border-box;
  border-radius: 20px;
  color: font-color;
  background: theme-color;
  box-shadow:  20px 20px 60px box-color1, -20px -20px 60px box-color2;
  .text
    margin-top: 10px;
    color: rgb(0, 31, 63);

.content
  box-sizing: border-box;
  border-radius: 20px;
  width: 92%;
  margin: 0 auto;
  color: font-color;
  background: theme-color;
  box-shadow:  20px 20px 60px box-color1, -20px -20px 60px box-color2;
  .content-inner
    padding 0 20px
