.post
  width: 100%;
  overflow-x: hidden;
  .title
    text
      border-bottom: 1px solid #ddd
      color blue

.header
  text-align center
  display flex
  align-items center
  .title
    width 64%


.content
  padding 0 20px